{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог мотоциклов{% endblock %}

{% block content %}

    <div class="container-fluid">
        {% if user.is_staff or user.is_superuser %}
            <div class="row mb-4">
                <div class="col-12">
                    <a href="{% url 'products:product_create' %}" class="btn btn-success">
                        <i class="bi bi-plus-lg"></i> Добавить мотоцикл
                    </a>
                </div>
            </div>
        {% endif %}

        <form method="GET">
            <!-- ... другие поля формы (поиск, производитель, цена) ... -->
            <div>
                <label>Категории:</label><br>
                {% for category in categories %}
                    <button class="btn btn-outline-primary" type="submit" name="category"
                            value="{{ category.pk }}">{{ category.name }}</button>
                {% endfor %}
                <!--  Если нужна кнопка "Сбросить фильтры"  -->
                <button class="btn btn-outline-primary" type="submit" name="reset" value="true">Все</button>
            </div>
        </form>

        <div class="row mb-4">
            <div class="col-12">
                <form class="d-flex" method="get">
                    <input class="form-control me-2" type="search" placeholder="Поиск мотоциклов" name="search"
                           value="{{ request.GET.search }}">
                    <button class="btn btn-outline-primary" type="submit">Поиск</button>
                </form>
            </div>
        </div>

        <div class="row">
            <!-- Фильтры слева -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Фильтры</h5>
                    </div>
                    <div class="card-body">

                        <form method="get">
                            <div class="mb-3">
                                <label class="form-label">Производитель</label>
                                <select class="form-select" name="manufacturer">
                                    <option value="">Все</option>
                                    {% for manufacturer in manufacturers %}
                                        <option value="{{ manufacturer.id }}"
                                                {% if request.GET.manufacturer == manufacturer.id|stringformat:"s" %}selected{% endif %}>
                                            {{ manufacturer.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Категория</label>
                                <select class="form-select" name="category">
                                    <option value="">Все</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"
                                                {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Цена</label>
                                <div class="d-flex">
                                    <input type="number" class="form-control me-2" name="price_min" placeholder="От"
                                           value="{{ request.GET.price_min }}">
                                    <input type="number" class="form-control" name="price_max" placeholder="До"
                                           value="{{ request.GET.price_max }}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Применить</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Список товаров -->
            <div class="col-md-9">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for product in products %}
                        <div class="col">
                            <div class="card h-100">
                                {% if product.images.all %}
                                    <img src="{{ product.images.first.image.url }}" class="card-img-top"
                                         alt="{{ product.model.name }}">
                                {% else %}
                                    <div class="card-img-top bg-light d-flex align-items-center justify-content-center"
                                         style="height: 200px;">
                                        <span class="text-muted">Нет изображения</span>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.model.manufacturer.name }} {{ product.model.name }}</h5>
                                    <p class="card-text">
                                        <strong>Год:</strong> {{ product.year }}<br>
                                        <strong>Объем:</strong> {{ product.engine_capacity }} см³<br>
                                        <strong>Цена:</strong> {{ product.price }} ₽<br>

                                        <!-- Звёзды -->

                                        {% for i in "12345" %}
                                            {% if i|add:0 <= product.get_rating %}
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <!-- Заполненная звезда -->
                                            {% else %}
                                                <i class="bi bi-star text-warning"></i>  <!-- Пустая звезда -->
                                            {% endif %}
                                        {% endfor %}

                                        <!-- Числовое значение -->
                                        <span class="text-muted">{{ product.get_rating|floatformat:1 }}</span>

                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Подробнее</a>

                                    <form action="{% url 'cart:cart_item_add' product.id %}" method="post"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        {% if product.available_quantity > 0 %}
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-cart-plus"></i> В корзину
                                            </button>
                                        {% else %}
                                            <button class="btn btn-secondary" disabled>
                                                <i class="bi bi-cart-plus"></i>Нет в наличии
                                            </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12">
                            <div class="alert alert-info">
                                Товары не найдены
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
